[submodule "lib/msgpack-c"]
	path = lib/msgpack-c
	url = git@github.com:msgpack/msgpack-c.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:google/googletest.git
[submodule "lib/rpclib"]
	path = lib/rpclib
	url = https://github.com/rpclib/rpclib.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
